.flex-container {
	display: flex;
}


/* Align self */
* {
	font-family: Verdana;
	margin: 0;
	padding: 0;
}
/*entire page*/
html {
	background-color: #F5F5F5;
}

/*responsive design styling*/
.wrapper {
	width: 100%;
	max-width: 960px;
	margin: 0 auto;
}

nav {
	background-color: #212121;
}


/*flex container for nav, displays the nav horizontal display: flex*/
nav ul {
	list-style-type: none;
	padding: 0;
	display: flex;
	flex-wrap: wrap;
}

/* flex 1 1 0 strech the nav or flex: auto*/
nav ul li {
	border: 1px solid #F5F5F5;
	flex: 1 1 0;
}

/*display block*/
nav ul li a{
	display: block;
	text-decoration: none;
	color: white;
	text-align: center;
	padding: 10px;
}

nav ul li a:hover {
	background-color: #757575;
}

/*I can use flex-grow: 1 to take avail space */
/*flex-shrink: shrink-value for mobile*/
/*flex wrap: wrap ; when reducing the screen size elements are pushed to the bottom or wrap-reverse is pushed to the top or you can use nowrap*/
.one {
	order: 1;
	align-self: stretch;
}

.two {
	order: -4;
}

.three {
	order: -1000;
}

.four {
	order: -200;
}


